.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 16px;

  & .content__heading {
    margin-bottom: 16px;
  }
  & .syntax__list {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 12px;
  }
}
