main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;

  & .wrapper {
    padding: 16px 0;
    flex: 1 1 auto;
    display: flex;
    gap: 32px;

    & .syntax__list {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      gap: 12px;
    }

    & aside {
      position: sticky;
      left: 0;
      top: 16px;
      flex: 0 0 auto;
      & ul {
        list-style: none;
        & li {
          margin-bottom: 8px;
          color: gray;
        }
      }
    }

    @media screen and (max-width: 768px) {
      & aside {
        display: none;
      }
    }
    & .authors__grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 8px;

      & .author:nth-child(even) .author__role {
        color: var(--color-accent);
      }
    }
  }
}
