.syntax__item {
  & .syntax__title {
    margin-bottom: 12px;
  }

  & .syntax__descripton {
    margin-bottom: 8px;
  }

  & .syntax__code {
    display: block;
    padding: 8px;
    border-radius: 4px;
    background-color: #2c29291e;
  }
}
