:root {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
sub,
sup,
cite,
code {
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 16px 0;
}

* {
  font-size: 16px;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 2em;
}
h4,
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}
